<aside class="sidebar">

    <h4>Categories</h4>

    <ul class="categories">

      <li class="block category-item">
        <aside class="block__aside category-item__aside">
        <a href="{{ site.url }}/categories/company-of-the-year/">
          <img src="{{ site.media }}/categories/icon_company-of-the-year.png" alt="">
        </a>
        </aside>
        <p class="block__content category-item__title">
          <a href="{{ site.url }}/categories/company-of-the-year/">Company of the Year</a>
        </p>
      </li>

      <li class="block category-item">
        <aside class="block__aside category-item__aside">
          <a href="{{ site.url }}/categories/communications/">
            <img src="{{ site.media }}/categories/icon_communication.png" alt="">
          </a>
        </aside>
        <p class="block__content category-item__title">
          <a href="{{ site.url }}/categories/communications/">Communications Award</a>
        </p>
      </li>

      <li class="block category-item">
        <aside class="block__aside category-item__aside">
          <a href="{{ site.url }}/categories/emerging-professional/">
            <img src="{{ site.media }}/categories/icon_emerging-professional.png" alt="">
          </a>
        </aside>
        <p class="block__content category-item__title">
          <a href="{{ site.url }}/categories/emerging-professional/">Emerging Professional Award</a>
        </p>
      </li>

      <li class="block category-item">
        <aside class="block__aside category-item__aside">
          <a href="{{ site.url }}/categories/export/">
            <img src="{{ site.media }}/categories/icon_export.png" alt="">
          </a>
        </aside>
        <p class="block__content category-item__title">
          <a href="{{ site.url }}/categories/export/">Export Award</a>
        </p>
      </li>

      <li class="block category-item">
        <aside class="block__aside category-item__aside">
          <a href="{{ site.url }}/categories/manufacturing/">
            <img src="{{ site.media }}/categories/icon_manufacturing.png" alt="">
          </a>
        </aside>
        <p class="block__content category-item__title">
          <a href="{{ site.url }}/categories/manufacturing/">Manufacturing, Science and Technology Award</a>
        </p>
      </li>

      <li class="block category-item">
        <aside class="block__aside category-item__aside">
          <a href="{{ site.url }}/categories/medium-large-business/">
            <img src="{{ site.media }}/categories/icon_medium-large.png" alt="">
          </a>
        </aside>
        <p class="block__content category-item__title">
          <a href="{{ site.url }}/categories/medium-large-business/">Medium to Large Business Award</a>
        </p>
      </li>

      <li class="block category-item">
        <aside class="block__aside category-item__aside">
          <a href="{{ site.url }}/categories/professional-services/">
            <img src="{{ site.media }}/categories/icon_professional-services.png" alt="">
          </a>
        </aside>
        <p class="block__content category-item__title">
          <a href="{{ site.url }}/categories/professional-services/">Professional Services Award</a>
        </p>
      </li>

      <li class="block category-item">
        <aside class="block__aside category-item__aside">
          <a href="{{ site.url }}/categories/sme-business-startup/">
            <img src="{{ site.media }}/categories/icon_sme-startup.png" alt="">
          </a>
        </aside>
        <p class="block__content category-item__title">
          <a href="{{ site.url }}/categories/sme-business-startup/">Small Management Enterprise and Business Start Up Award</a>
        </p>
      </li>

      <li class="block category-item">
        <aside class="block__aside category-item__aside">
          <a href="{{ site.url }}/categories/training-people-development/">
            <img src="{{ site.media }}/categories/icon_training-development.png" alt="">
          </a>
        </aside>
        <p class="block__content category-item__title">
          <a href="{{ site.url }}/categories/training-people-development/">Training and People Development Award</a>
        </p>
      </li>

    </ul>

</aside>
