<div id="content-footer"></div>

<div id="footer">
  <div id="inner-footer">
    <div id="footer1">
      <ul>
        <li>
          <a href="http://www.coventrytelegraph.net/news/">News</a>
        </li>
        <li>
        <a href="http://www.coventrytelegraph.net/news/coventry-news/">Coventry News</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/news/business/">Business</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/news/uk-world-news/">UK &amp; World News</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/news/health/">Health</a>
        </li>
        <li>
        <a href="http://www.coventrytelegraph.net/all-about/crime/">Crime</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/all-about/politics/">Politics</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/all-about/education/">Education</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/news/news-opinion/">News Opinion</a>
        </li>
      </ul>
    </div>

    <div id="footer2">
      <ul>
        <li>
          <a href="http://www.coventrytelegraph.net/sport/">Sport</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/all-about/coventry city fc">Coventry City FC</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/sport/football/">Football</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/sport/rugby/">Rugby</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/sport/cricket/">Cricket</a>
        </li>
        <li>
        <a href="http://www.coventrytelegraph.net/sport/speedway/">Speedway</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/sport/ice-hockey/">Ice Hockey</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/sport/other-sport/">Other Sport</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/sport/sport-opinion/">Sport Opinion</a>
        </li>
      </ul>
    </div>

    <div id="footer4">

      <ul>
        <li>
          <a href="http://www.coventrytelegraph.net/contact-us/">Contact Us</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/send-your-story/">Send Your Story</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/about-us/">About Us</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/subscriptions/">Subscriptions</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/advertising/">Advertise with us</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/corrections-clarifications/">Corrections &amp; Clarifications</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/reader-panel/">Reader Panel</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/terms-conditions/">Terms &amp; Conditions</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/privacy-policy/">Privacy Policy</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/cookie-policy/">Cookie Policy</a>
        </li>
        <li>
          <a href="http://www.coventrytelegraph.net/rss-feeds/">Our RSS feeds</a>
        </li>
      </ul>

    </div>

    <div id="footer5">
      <p><a href="http://www.coventrytelegraph.net/"><img src="{{ site.static }}/gui/logo_coventry-telegraph.png" alt="Coventry Telegraph" style="max-width: 100%"></a></p>
      <p>&copy; Trinity Mirror Midlands | BPM Media<br>
      All rights reserved.<br>
      <br>
      E: <a href="mailto:kirsti.tomkinson@trinitymirror.com">kirsti.tomkinson@trinitymirror.com</a></p>
    </div>

  </div>
</div>

<div id="footer_end"></div>
