<nav role="navigation" class="nav">
  <ul class="topnav" role="navigation">
    <li class="selected">
       <a class="home selected" title="Home" href="{{ site.url }}/">Home</a>
    </li>
    <!--<li>
      <a class="dates" href="{{ site.url }}/dates/">Key Dates</a>
    </li>-->
    <li>
      <a class="categories" title="Categories" href="{{ site.url }}/categories/">Categories</a>
    </li>
    <li>
      <a class="shortlist" title="Shorlist" href="{{ site.url }}/shortlist/">Shortlist</a>
    </li>
<li>
      <a class="winners" title="Winners" href="{{ site.url }}/winners/">Winners</a>
    </li>
    <li>
      <a class="the-judges" title="The Judges" href="{{ site.url }}/judges/">The Judges</a>
    </li>
    <li>
      <a class="our-sponsors" title="Our Sponsors" href="{{ site.url }}/sponsors/">Our Sponsors</a>
    </li>
    <li>
      <a class="latest-news" title="Latest News" href="{{ site.url }}/news/">Latest News</a>
    </li>
    <li>
      <a class="contact-us" title="Contact Us" href="{{ site.url }}/contact/">Contact</a>
    </li>
    <li>
      <a class="year2013" title="2013 Awards" href="http://www.ctbusinessawards.co.uk/2013/">2013 Awards</a>
    </li>
  </ul>
</nav>
