<section class="sponsors-bar">

  <div class="wrapper__sub">

    <section class="grid ls__1">
    <p><strong>In associate with:</strong></p>
    <a class="outbound" target="_blank" href="http://www.turkishairlines.com/">
      <img src="{{ site.media }}/sponsors/logo_turkish-airlines.png" alt="Turkish Airlines">
    </a>
    </section>

    <!--<section class="grid grid__seperator ls_2-3">
    <p><strong>Supported by:</strong></p>
    <img src="http://placehold.it/574x140.png" alt="">
    </section>-->

  </div><!--/ wrapper__sub  -->

</section>
