<section class="wrapper sponsors-bar cf">

  <div class="wrapper__sub">

    <section class="grid ls__1">
    <h3 class="gamma heading--main">In associate with:</h3>
    <a class="outbound" target="_blank" href="http://www.turkishairlines.com/">
      <img src="{{ site.media }}/sponsors/logo_turkish-airlines.png" alt="Turkish Airlines">
    </a>
    </section>

    <section class="grid grid__seperator ls__2-3">
    <h3 class="gamma heading--main">Supported by:</h3>

    <ul class="list gallery cf">
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_jaguar-land-rover.png" alt=" Jaguar Land Rover">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_ikea.png" alt="Ikea">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_chamber-of-commerce.png" alt="Coventry &amp; Warwickshite Chamber of Commerce">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_local-enterprise-partnership.png" alt="Coventry &amp; Warwickshite Local Enterprise Partnership">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_barclays.png" alt="Barclays Corporate">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_coventry-city-council.png" alt="Coventry City Council">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_henley-college.png" alt="Henley College">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_belgrade-theatre.png" alt="Belgrade Theatre">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_coventry-cathedral.png" alt="Coventry Cathedral">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_federation-of-small-businesses.png" alt="Federation of Small Businesses">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_the-establishment.png" alt="The Establishment">
        </a>
      </li>
    </ul>

    </section>

  </div><!--/ wrapper__sub  -->

</section>
